# fly.toml app configuration file generated for segurancaaplicadaqa-tnnq1a on 2026-01-14T13:04:50Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'segurancaaplicadaqa-tnnq1a'
primary_region = 'gru'

[build]

[env]
  JEKYLL_ENV = "production"
  LANG = "en_US.UTF-8"
  LC_ALL = "en_US.UTF-8"
  BUNDLE_WITHOUT = "development:test"
  RUBY_GC_HEAP_INIT_SLOTS = "10000"
  RUBY_GC_HEAP_FREE_SLOTS = "50000"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = "30s"
    timeout = "5s"
    grace_period = "10s"
    method = "GET"
    path = "/"
    protocol = "http"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
