@import 'variables';
@import 'theme';

.breadcrumbs {
  margin-bottom: $spacing-md;
  padding: $spacing-sm 0;
  
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-xs;
    align-items: center;
  }
  
  li {
    display: inline;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    line-height: $line-height-normal;
    
    &:not(:last-child)::after {
      content: " / ";
      color: var(--color-text-secondary);
      margin-left: $spacing-xs;
      font-weight: $font-weight-normal;
      @include theme-transition(color);
    }
  }
  
  a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: $font-weight-medium;
    @include theme-transition(color);
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  li[aria-current="page"] {
    color: var(--color-text-secondary);
    font-weight: $font-weight-normal;
    @include theme-transition(color);
  }
}

